@if (!started) {

    <main class="start">
  
      <h1>IROOKURI</h1>
  
      <p>残す色の数</p>
  
      <div class="number-buttons">
  
        @for (count of [3, 4, 5]; track count) {
  
          <button
            (click)="setMaxColors(count)"
          >
            {{ count }}
          </button>
  
        }
  
      </div>
  
    </main>
  
  } @else {
  
    <main class="color-world">
  
      <section class="colors">
  
        @for (color of colors; track $index) {
  
          <div
            class="color"
            [style.background-color]="color"
            (click)="toggleCode($index)"
          >
  
            @if (showCodeIndex === $index) {
  
              <button
                class="color-code"
                (click)="copyColorCode(color); $event.stopPropagation()"
              >
                {{ color }}
              </button>
  
            }
  
          </div>
  
        }
  
      </section>
  
  
      <div class="picker-area">
  
        <button
          class="color-button"
          [style.background-color]="selectedColor"
          (click)="openOrSendColor(colorInput)"
        >
          ↑
        </button>
  
        <input
          #colorInput
          class="hidden-picker"
          type="color"
          [value]="selectedColor"
          (change)="selectColor($event)"
        >
  
      </div>
  
  
      <button
        class="back-button"
        (click)="backToTitle()"
      >
        ←
      </button>
  
    </main>
  
  }